body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 25px;
  font-weight: bold;
  border: 2px solid grey;
  animation: neon-border 5s infinite;
  padding: 40px;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-group input {
  height: 30px;
}
.radio-button {
  display: flex;
  gap: 10px;
}
.container button {
  font-size: 20px;
  font-weight: bold;
  width: 150px;
  height: 40px;
  align-self: center;
}
button:hover {
  box-shadow: 0 0 5px rgb(244, 1, 187), 0 0 10px rgb(244, 1, 187),
    0 0 25px rgb(244, 1, 187), 0 0 40px rgb(244, 1, 187);
}
input:hover {
  box-shadow: 0 0 5px rgb(234, 51, 51), 0 0 10px rgb(234, 51, 51),
    0 0 25px rgb(234, 51, 51), 0 0 40px rgb(234, 51, 51);
}
@keyframes neon-border {
  0% {
    box-shadow: 0 0 5px #75d5fd;
  }
  30% {
    box-shadow: 0 0 10px #b76cfd;
  }
  65% {
    box-shadow: 0 0 25px #ff2281;
  }
  100% {
    box-shadow: 0 0 25px #011ffd;
  }
}
