body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30%;
  gap: 20px;
  border: 3px solid #bf00ff;
  box-shadow: 0 0 10px #bf00ff, 0 0 20px #bf00ff;
  padding: 15px;
}
label {
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(45deg, #e1ff17, #c99eed, #debb9c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
input {
  height: 30px;
  width: 110px;
}
button {
  width: 100px;
  height: 30px;
  font-weight: bold;
  background: linear-gradient(45deg, #f4b4fb, #95f7d0, #f7f5d7, #3a3843);
}
