body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Change-color {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 40%;
  gap: 10px;
}
button {
  font-size: 30px;
  font-weight: bold;
  width: 200px;
  background: linear-gradient(45deg, #fcf340, #7fff00, #fb33db, #0310ae);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
button:hover {
  box-shadow: 0 0 30px #05dbf2;
}
